<div class="aboutUs">
    <h1 style="font-size: 75px; margin:4.6%">About us</h1>
    <p style="font-size: 20px; padding-left:10%; padding-right:10%">ViitorStudent reprezintă un ajutor pentru toți cei aflați în căutarea facultății potrivite. Centralizarea datelor referitoare la procedurile de admitere ale celor mai prestigioase facultăți din țară, un mecansim automat de selectare a facultății pe baza pasiunilor și înclinațiilor utilizatorului, dar și posibilitatea de a discuta cu studenți ai respectivei facultăți, toate aflate la un click distanță. </p>
    <div id="inner-div">
        <div fxLayout.gt-xs="row" fxLayout.lt-md="column" fxLayoutGap="5%">
            <div class="textBoxChild" style="padding-left: 10%;">
                <h1 style="font-size: 40px;">De ce?</h1>
                <p style="font-size: 20px;">Din numeroasele discuții cu elevi de liceu, atât din an terminal cât și din ani mai mici, am constatat că accesul la informații cu privire la admiterea la facultate este dificil pentru aceștia. Astfel, am pornit ViitorStudent cu dorința de a facilita obținerea tuturor datelor necesare pentru a face alegerea corectă.</p>
            </div>
            <div class="textBoxChild" style="padding-right: 10%;">
                <h1 style="font-size: 40px;">Pai cum?</h1>
                <p style="font-size: 20px">Am realizat o bază de date cu privire la procedurile de admitere a numeroase facultăți din țară, pe care dorim să o menținem actuală. De asemenea, am conceput un mecanism automat de recomandare a studiilor superioare pe baza diverselor categorii, precum materii preferate, oraș sau cariera ideală.</p>
            </div>
        </div>
        <div fxLayout.gt-xs="row" fxLayout.lt-md="column" fxLayoutGap="5%">
            <div class="textBoxChild" style="padding-left: 10%;">
                <h1 style="font-size: 40px;">Pentru cine?</h1>
                <p style="font-size: 20px">ViitorStudent se adresează tuturor elevilor care doresc să urmeze o formă de învățământ superior. Oricine are dificultăți în a se decide cu privire la facultatea pe care dorește să o urmeze va găsi răspunsul la problema sa accesând site-ul nostru.</p>
            </div>
            <div class="textBoxChild" style="padding-right: 10%;">
                <h1 style="font-size: 40px;">Cine suntem?</h1>
                <p style="font-size: 20px;">Suntem un grup de tineri care doresc să rezolve două dintre cele mai presante probleme ale elevilor din ziua de azi: accesul dificil la informații legate de admiterea la facultate și lipsa de orientare cu privire la studiile superioare.</p>
            </div>
        </div>
    </div>
</div>