
<div style="width: 100%" fxLayoutAlign="center center" >
  <form

  class="example-form mat-app-background mat-elevation-z8"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  #loginForm = "ngForm"
  >
  <div style="width: 100%;" >
  <button mat-icon-button mat-dialog-close style=" margin: 10px; float: right;"><mat-icon>close</mat-icon></button>
</div>
    <h2>Login into your account</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        required
        placeholder="username"
        [(ngModel)]="loginModel.username"
        name="username"
      />
      <mat-error>Username is required!</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        [type]="hide ? 'password' : 'text'"
        placeholder="password"
        [(ngModel)]="loginModel.password"
        name="password"
      />
      <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }} </mat-icon>
    </button>
      <mat-error>Password is required!</mat-error>
    </mat-form-field>

    <button [disabled]="!loginForm.valid" mat-dialog-close="true" (click)="loginUser()" mat-button color="accent">Submit</button>
  </form>
</div>
