<div style="width: 100%; height: 100%; margin: auto;" fxLayout="column" fxLayoutAlign="center center" class="">
  <form
    style="padding: 30px"
    class="example-form mat-app-background mat-elevation-z8"
    fxLayout="column"
    fxLayoutAlign="space-around center"
    #registrationForm="ngForm"
  >
    <h2>Create an account</h2>

    <!-- USERNAME -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        required
        (focusout)="verifyUsername()"
        [(ngModel)]="registrationModel.username"
        name="username"
        minlength="{{ this.usernameMinLength }}"
      />
      <mat-error *ngIf="registrationModel.username == ''; else tooShort"
        >Username is required!</mat-error
      >
      <ng-template #tooShort>
        <mat-error
          *ngIf="
            registrationModel.username.length < this.usernameMinLength;
            else used
          "
        >
          Username is too short!</mat-error
        >
        <ng-template #used>
          <mat-error>Username already used!</mat-error>
        </ng-template>
      </ng-template>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        [type]="hide ? 'password' : 'text'"
        name="password"
        [(ngModel)]="registrationModel.password"
        minlength="4"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }} </mat-icon>
      </button>
      <mat-error *ngIf="registrationModel.password == ''; else tooShort"
        >Password is required!</mat-error
      >
      <ng-template #tooShort>
        <mat-error> Password is too short!</mat-error>
      </ng-template>
    </mat-form-field>

    <!-- FIRST NAME -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. test"
        [(ngModel)]="registrationModel.firstName"
        required
        name="firstName"
      />
      <mat-error *ngIf="registrationModel.firstName == ''">First name is required!</mat-error>
    </mat-form-field>


    <!-- LAST NAME -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        [(ngModel)]="registrationModel.lastName"
        name="lastName"
        required
        type="text"
      />
      <mat-error *ngIf="registrationModel.lastName == ''">Last name is required!</mat-error>
    </mat-form-field>

<!-- AGE -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Age</mat-label>
      <input
        type="number"
        required
        matInput
        [(ngModel)]="registrationModel.age"
        name="age"
      />
      <mat-error *ngIf="registrationModel.age == 0" >Age is required!</mat-error>
    </mat-form-field>

<!-- EMAIL -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
       (keyup)="emailValidate()"
        matInput
        [(ngModel)]="registrationModel.email"
        required
        name="email"
      />
      <mat-error *ngIf="registrationModel.email == '';else wrongFormat">Email is required!</mat-error>
      <ng-template #wrongFormat>
          <mat-error>Email is not valid!</mat-error>
      </ng-template>
    </mat-form-field>

    <!-- ADD -->
    <button [disabled]="!registrationForm.valid" (click)="addUser()" mat-button color="accent" >Submit</button>
  </form>
</div>
