img{
  width: 100%;
  height: 46%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
h1{
  text-align: center;
  font-size: 150px;
  color :white;
  font-family: Georgina;
  margin-bottom: 9.2%;
}
@media only screen and (max-width: 959.9px){
  img{
    height:18%;
  }
  h1{
    font-size: 80px;
  }
}