<div style="height: 100%;">
    <mat-card>
        <div class="container">
            <img mat-card-image src="http://localhost:29949/api/images/?universityId={{extendedUniversity.id}}" style="object-fit: cover; height:300px; opacity:0.3; background-color:black">
            <div class="centered" fxLayout="column" fxFlexAlign="center center">
                <hr color="white" width="100%">
                <mat-card-title style="font-size: 30px; padding-top: 2%; padding-bottom: 2%;">{{extendedUniversity.name}}</mat-card-title>
                <hr color="white" width="100%">
                <mat-card-subtitle>{{extendedUniversity.group}}</mat-card-subtitle>
            </div>
        </div>
        <div>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Descriere"><p style="text-indent: 7%;"  style="padding: 2%;">{{extendedUniversity.longDescription}}</p></mat-tab>
                <mat-tab label="Proceduri de inscriere"><p style="text-indent: 7%;"  style="padding: 2%;">{{extendedUniversity.examInfo}}</p></mat-tab>
                <mat-tab label="Recenzii"> <span *ngFor="let review of extendedUniversity.reviews "><app-comment ></app-comment></span></mat-tab>
            </mat-tab-group>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>alternate_email</mat-icon><span class="aligned-with-icon">{{extendedUniversity.email}}</span></div>
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon> phone</mat-icon><span class="aligned-with-icon">{{extendedUniversity.phoneNumber}}</span></div>
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>domain</mat-icon><span class="aligned-with-icon">{{extendedUniversity.address}}</span></div>
            </div>
        </div>
    </mat-card>
</div>
