<div style="height: 100%;">
    <mat-card>
        <div class="container">
            <img mat-card-image src="http://localhost:29949/api/images/?universityId={{extendedUniversity.id}}" style="object-fit: cover; height:300px; opacity:0.3; background-color:black">
            <div class="centered" fxLayout="column" fxFlexAlign="center center">
                <hr color="white" width="100%">
                <mat-card-title style="font-size: 30px; padding-top: 2%; padding-bottom: 2%;">{{extendedUniversity.name}}</mat-card-title>
                <hr color="white" width="100%">
                <mat-card-subtitle>{{extendedUniversity.group}}</mat-card-subtitle>
            </div>
            <div class="top-right">
              <button mat-icon-button mat-dialog-close style=" margin: 10px; float: right;"><mat-icon>close</mat-icon></button>
            </div>
        </div>
        <div>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Descriere"><p style="text-indent: 7%;"  style="padding: 2%;">{{extendedUniversity.longDescription}}</p></mat-tab>
                <mat-tab label="Proceduri de inscriere"><p style="text-indent: 7%;"  style="padding: 2%;">{{extendedUniversity.examInfo}}</p></mat-tab>
                <mat-tab label="Comentarii">


                    <div *ngIf="userId!=undefined; else loginMsj" width="100%" height="10%" fxLayout="row" fxLayoutAlign="start start" style=" padding-top: 2%; padding-left: 2%">
                        <div fxLayout="column" fxLayoutAlign="center center" style="padding-right: 30px">
                            <div>
                                <form class="example-form">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Titlul comentariului nou</mat-label>
                                    <input [(ngModel)]="newComment.title" [ngModelOptions]="{standalone: true}" matInput #message maxlength="50" placeholder="">
                                    <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div>
                                <app-favorite [toggleable]="true" [rating]="newComment.rating" (change)="getReview($event)"></app-favorite>
                            </div>
                            <div style="padding-top: 5%">
                                <button mat-flat-button (click)="onSubmit()">Adauga comentariu nou</button>
                            </div>
                        </div>
                        <div style="padding-right: 30px">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill" style="width: 45vw;">
                                <mat-label>Continutul comentariului nou</mat-label>
                                <textarea [(ngModel)]="newComment.body" [ngModelOptions]="{standalone: true}" matInput cdkTextareaAutosize cdkAutosizeMinRows="7"></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <ng-template #loginMsj>
                      <p>Creaza un cont apasand pe butonul "Sa Incepem" sau conecteaza-te pentru a putea adauga comentarii</p>
                    </ng-template>
                    <hr>
                    <div style="height:25vh; overflow-y:scroll;">
                        <div *ngFor="let comment of extendedUniversity.reviews" >
                            <app-comment [comment]=comment></app-comment>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>alternate_email</mat-icon><span class="aligned-with-icon">{{extendedUniversity.email}}</span></div>
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon> phone</mat-icon><span class="aligned-with-icon">{{extendedUniversity.phoneNumber}}</span></div>
                <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>domain</mat-icon><span class="aligned-with-icon">{{extendedUniversity.address}}</span></div>
            </div>
        </div>
    </mat-card>
</div>
