<mat-toolbar fxLayout="row"  fxLayoutAlign="space-between center">
  <button mat-button (click)="openAboutUs()" >Despre noi</button>
  <button *ngIf="currentUser != undefined; else login" mat-button [matMenuTriggerFor]="userMenu">
    Salut, {{ currentUser?.firstName }} {{ currentUser?.lastName }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <ng-template #login>
    <button mat-button (click)="openLogin()">Logare</button>
  </ng-template>
  <mat-menu #userMenu="matMenu">
    <button  mat-menu-item (click)="openProfile()">Profile</button>
    <button mat-menu-item (click)="logout()" class="mat-warn mat-toolbar">Logout</button>
  </mat-menu>
</mat-toolbar>
